.DS_Store
*.pyc
hyperfine.csv
out
og_out
asm_out
long
# pixi environments
.pixi
.cache/
*.egg-info
output
multi
og/
env
activate.sh
environment.sh
coverage.xml
.coverage
dist/
__pycache__/
tests/data/samples.csv
samples.csv
report/
samples.json
CITATIONS.txt
FILES.tsv
clair3_models/
