.DS_Store
*.pyc
hyperfine.csv
out
og_out
asm_out
long
# pixi environments
.pixi
*.egg-info
output
multi
env
activate.sh
environment.sh
coverage.xml
.coverage
dist/
__pycache__/
tests/data/samples.csv
report.html
samples.csv
